.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  
body {
  background-color: #0d1f2d;
}

.tableHeader {
  font-weight: bold;
}

.container, .container-fluid {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#menuContainer {
    margin: 0 20px;
}
a img {
  border: 1px solid #ddd;
  width: 100px;
  height: 75px;
}

.evalStep {
  min-width: 640px;
    min-height: 480px;
    display: block;
}

.evalStep button {
  margin: 10px;
}

.bottom-column
{
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

.wizard-body {
  min-height: 480px;
}

.table-condensed {
  font-size: 11px;
}
